.library_card2 {
  height: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: #fff;
  /* background-color: rgb(223,28,76) ; */
  background: linear-gradient(45deg,#dd1c4c 0%,#ad1ce9 100%);
}

.chatbot-container {
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.chatbot-header {
  background: linear-gradient(45deg,#dd1c4c 0%,#ad1ce9 100%);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.chatbot-messages {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.chatbot-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-top: 1px solid #ccc;
}

input[type='text'] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-right: 8px;
}

button {
  background: linear-gradient(45deg,#dd1c4c 0%,#ad1ce9 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}
.chatclass{
  display: flex;
}

